/* General styles for all menus */

.cbp-spmenu {
    background: #000000;
    position: fixed;
}

.cbp-spmenu h1 {
    color: #000000;
    font-size: 2em;
    padding: 20% 40%;
    margin: 0;
    font-weight: 600;
    background: #ffffff;
}

.cbp-spmenu a {
    display: block;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 300;
    padding-left: 30%;
    text-decoration: none !important;

}

.cbp-spmenu a.inline {
    margin-left: 0;
    margin-left: 10%;
}

.cbp-spmenu a:hover {
    color: #258ecd;
    /*background: #258ecd;*/
    text-decoration: none;
    cursor: pointer;
}


/*.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}*/


/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
    width: 28%;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.cbp-spmenu-vertical a {
    padding: 1em;
}

.cbp-spmenu-horizontal {
    /*width: 100%;*/
    /*height: 150px;*/
    left: 0;
    z-index: 1000;
    overflow: hidden;
    margin: 0 1%;
}

.cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
}

.cbp-spmenu-top a {
    color: #000000;
    font-size: 1.125em;
    float: left;
    padding: 0.8%;
    margin: 1%;
    border: 1px solid #979797;
    background-color: #d8d8d8;
}

.cbp-spmenu-top a:hover{
  background-color: #1e88e5 !important;
  border: solid 1px #979797 !important;
  color: #ffffff !important;
}


/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
    left: -100%;
}

.cbp-spmenu-left a {
  margin-left: 30%;
  /*text-decoration: none !important;*/

}



/*.cbp-spmenu-right {
	right: -240px;
}*/

.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}


/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
    top: -100%;
    transition: all 0s ease-in !important;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
}

.cbp-spmenu-bottom {
    bottom: -150px;
    display: none;
}

.cbp-spmenu-top.cbp-spmenu-open {
    /*top: 1.5%;*/
    top: 62px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
    display: block;
    width: 25%;
    left: 72%;
    bottom: 11%;
    /* float: right; */
    height: 70%;
}


/* Push classes applied to the body */

.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.cbp-spmenu-push-toright {
    left: 28%;
}

.cbp-spmenu-push-toleft {
    left: -240px;
}


/* Transitions */

.cbp-spmenu, .cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.2s ease-in;
}


/* Example media queries */


/*@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}*/


/*@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}*/
