@font-face {
    font-family: Norwester;
    src: url('/norwester-v1.2/norwester.otf');
    src: url('/norwester-v1.2/webfonts/norwester.ttf') format('truetype'), url('/norwester-v1.2/webfonts/norwester.woff') format('woff');
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    /* or 950px */
}

body {
    background-color: #f2f5f7;
    font-family: OpenSans;
    font-size: 1.5em;
}

.no-outline {
    outline: none !important;
    color:inherit !important;
}

.portion-title {
    font-size: 2.5em;
    opacity: 0.54;
    font-weight: 600;
}

.no-col-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.header {
    padding: 1vw 4.5vw;
    background-color: #ffffff;
    padding-top: 0;
    padding-bottom: 0;
}

.header .double-font {
    margin-top: 1vw;
}

.new-manga-img {
    position: relative;
    width: 40%;
    height: 115%;
    overflow: hidden;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.5);
    margin-left: 2%;
}

.new-manga-img img {
    position: relative;
    width: auto !important;
    height: 100% !important;
}

.new-manga-img img.portrait {
    width: 100%;
    height: auto;
}

.new-manga-content {
    position: absolute;
    z-index: 1;
    left: 45%;
    top: 12%;
    margin-right: 1vw;
    height: inherit;
}

.description {
    height: 32%;
    overflow: auto;
}

.btn-hamburger {
    font-size: 2.2vw;
    background-color: inherit;
    opacity: 0.9;
}

.header .line {
    display: inline;
    margin: 0 2.7vw;
    font-size: 2.8vw;
    border: solid 1px #979797;
}

.browser-category {
    background-color: inherit;
    border: 1px solid transparent;
}

.header .dropdown-menu {
    right: -110%;
    left: auto;
    width: 250px;
    color: rgba(0, 0, 0, 0.54);
    top: 110%;
    font-size: 0.7em;
}

.header .dropdown-menu a {
  color: rgba(0, 0, 0, 0.54);
}

.search-opacity {
    opacity: 0.54;
}

.img-profile {
    width: 2.2vw;
    height: 2.2vw;
    margin-left: 2vw;
    margin-rig: 3.3vw;
}

.inline {
    display: inline !important
}

.double-font {
    font-size: 1.8vw;
}

.header-content {
    padding-left: 20%;
    opacity: 0.54;
    font-family: Norwester;
    color: #000000;
    font-size: 1.7vw;
}

.new-manga {
    height: 27.8vw;
    background-color: #4a90e2;
}

.new-manga .one-manga img {
    float: left;
    padding-right: 2vw;
    width: 19.5vw;
    height: 29.2vw;
    margin-top: 0.4vw;
}

.star {
    color: yellow;
}

.new-manga .one-manga {
    padding: 0 1.5%;
    padding-top: 3vw;
    border-left: 1px solid;
    border-right: 1px solid;
}

.new-manga .one-manga {
    color: white;
    height: 27.8vw;
}

.new-manga .one-manga h2 {
    font-weight: 600;
    margin-top: 0;
}

.new-manga .one-manga h3 {
    opacity: 0.54;
}

.read-now {
    color: rgba(0, 0, 0, 0.54) !important;
}

.new-manga .one-manga .read-now {
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    height: 2.7vw;
    width: 50%;
    font-size: 1.5em;
    border: 1px;
    margin-left: 5vw;
    margin-top: 0.5vw;
}


/*popular manga*/

.popular-manga {
    margin: 7vw 6.5% 0 6.5%;
}

.popular-author .navigation .pull-right span, .popular-manga .navigation .pull-right span {
    border: 1px solid;
    padding: 0.5vw;
    margin: 0 1vw;
    opacity: 0.6;
}

.thumbnail-crop {
    position: relative;
    height: 27.5vw;
    overflow: hidden;
}

.thumbnail-crop img {
    position: absolute;
    left: 90%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumbnail-crop img.portrait {
    width: 100%;
    height: auto;
}

.popular-manga .navigation {
    margin-bottom: 1.6vw;
}

.popular-manga .caption {
    padding: 1vw;
}

.popular-manga-one {
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.3);
    margin: 1% 1%;
    width: 23%;
    padding: 0;
}

.popular-manga-one .caption h4 {
    font-weight: 600;
}

.popular-manga-one .caption>span {
    opacity: 0.54;
}


/*hot manga*/

.hot-manga {
    margin-top: 10.2vw;
}

.hot-manga-content h1 {
    width: 100%;
    font-family: Norwester;
    font-size: 2.5em;
}

.hot-manga-content h1.author {
    opacity: 0.54;
}

.hot-manga-content {
    background-image: linear-gradient(to left, #e96443, #904e95);
    margin-top: 2.2vw;
    color: #ffffff;
    font-size: 1.25vw;
    padding: 3.3vw 8.3vw 1.5vw 8.3vw;
}

.hot-manga-content button {
    border-radius: 91px;
    background-color: #4a90e2;
    box-shadow: 3px 6px 2px 0 #4a90e2;
    width: 14.3vw;
    height: 4vw;
    position: relative;
    left: 20%;
    bottom: -3vw;
    border: 1px solid transparent;
    font-size: 1.5em;
    font-weight: 600;
}

.hot-manga-img, .short-detail-img {
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 26.25%;
    height: 39.5vw;
    overflow: hidden;
    float: right;
    right: -3vw;
    top: -10vw;
}

.hot-manga-img img, .short-detail-img img {
    /*box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.5);*/
    position: relative;
    width: auto !important;
    height: 100% !important;
}

.hot-manga-img img.portrait {
    width: 100%;
    height: auto;
}

.hot-manga .portion-title {
    margin-left: 5.42vw;
}


/*popular author*/

.popular-author {
    /*margin-top: 4.2vw;*/
    margin: 4.2vw 6.5% 0 6.5%;
}

.popular-author-one {
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.3);
    margin: 1.5% 1%;
    width: 23%;
    padding: 0;
}

.popular-author-one img {
    width: auto;
}

.popular-author-one span {
    z-index: 1;
    position: absolute;
    top: 90%;
    color: white;
    font-size: 1.25em;
    background-color: rgba(0, 0, 0, 0.54);
    width: 100%;
    text-align: center;
    height: 3.82vw;
    padding-top: 0.7vw;
}


/*most-read-manga*/

.most-read-manga {
    margin-top: 4vw;
    margin-bottom: 4%;
}

.most-read-manga-content {
    margin-top: 4vw;
    background-image: url(/img/one-piece-vol-76.png);
    height: 33.3vw;
}

.most-read-manga-three {
    position: relative;
    top: 10%;
    left: 6.6vw;
    margin: 0;
    padding: 0;
}

.most-read-manga-three img {
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.5);
}

.background-over {
    background-color: rgba(0, 0, 0, 0.54);
}

.most-read-manga-chap {
    color: white;
}

.most-read-manga-content .background {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.54);
}

.most-read-manga-description {
    color: #ffffff;
    margin-right: 10.5%;
    margin-top: 5%;
}

.most-read-manga-description h1 {
    font-size: 2.25em;
    font-family: Norwester;
}

.most-read-manga-description h2 {
    font-size: 1.5em;
    font-weight: 600;
    opacity: 0.54;
}

.most-read-manga-description h3 {
    font-size: 5em;
    font-weight: 600;
    margin-top: 8%;
}

.most-read-manga-description button {
    margin-top: 12.63%;
    border-radius: 10px;
    background-color: #4a90e2;
    box-shadow: 1px 1px 1px 1px #4a90e2;
    width: 68%;
    height: 2.7vw;
    margin-left: 20%;
    border: 1px solid transparent;
    font-size: 1.5em;
    font-weight: 600;
}

.footer {
    padding-top: 1%;
    font-size: 1.25em;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 #bdbdbd;
    padding-left: 7%;
    padding-bottom: 1%;
}


/*detail view page*/

.short-detail {
    margin: 7% 5%;
    background-color: #ffffff;
    height: 40vw;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.short-detail-img {
    position: relative;
    width: 26.3vw;
    height: 50vw;
    overflow: hidden;
    float: left;
    right: -3vw;
    top: -3vw;
}

.short-detail-img img {
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    width: auto !important;
    height: 100% !important;
    left: -80%;
}

.short-detail-content {
    /*margin-top: 2.2vw;*/
    font-size: 1.25vw;
    padding: 3.3vw 8.3vw 1.5vw 8.3vw;
}

.short-detail-navigation {
    font-size: 1.25em;
    position: fixed;
    right: 2%;
    bottom: 5%;
}

.short-detail-navigation .chapter-list {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    width: 12vw;
    height: 3vw;
    font-size: inherit;
}

.short-detail-navigation .read-now {
    width: 12vw;
    height: 3vw;
    background-color: #1e88e5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    font-size: inherit;
}

.detail-view-second {
    /*margin: 1% 5%;*/
}

.detail-view-second .review .media {
    margin-top: 3%;
}

.detail-view-second .review .media-left {
    width: 6%;
}

.detail-view-second .review .media-body textarea {
    width: 100%;
    resize: none;
    margin-bottom: 1%;
}

.detail-view-second .review .media-body div i {
    font-size: 1.4em;
    margin-top: 1%;
}

.detail-view-second .review .media-body button {
    background-color: #1e88e5;
    height: 3vw;
    width: 7.2vw;
    border: 1px solid transparent;
    box-shadow: 3px 6px 2px 0 #4a90e2;
    color: #ffffff;
}

.detail-view-second .media-body-content {
    margin-left: 2%;
}

.detail-view-second .comment .media-left {
    width: 6%;
}

.detail-view-second .comment-one {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 #bdbdbd;
    padding: 3%;
    margin: 3% 0;
}

.detail-view-second .comment .media-body .star {
    margin-left: 1%;
    color: #fdd835
}

.detail-view-second .comment-one .time {
    margin-right: 2vw;
}

.detail-view-second .comment-one .comment-child {
    margin-top: 3%;
}

.heart-border {
    color: #e91e63;
}

.detail-view-second .like-reply {
    font-size: 1.1em;
}

.detail-view-second .load-more {
    font-size: 1.25em;
    width: 100%;
    margin: 0 40%;
}

.detail-view-second .load-more button {
    width: 20%;
    color: rgba(0, 0, 0, 0.54);
    font-family: OpenSans;
    box-shadow: 0 2px 4px 0 #bdbdbd;
    border: solid 1px #979797;
    background-color: #f2f5f7;
    height: 3.2vw;
}

.detail-view-second .related-manga>h1 {
    margin-bottom: 25%;
    margin-right: 10%;
}

.detail-view-second .related-manga img {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #979797;
    width: 80%;
    margin-left: 10%;
}

.detail-view-second .related-manga .save {
    border: solid 1px #979797;
    width: 40%;
    margin: 5% 0 20% 30%;
    background-color: #f2f5f7;
    height: 3vw;
}

.also-like {
    margin-bottom: 5%;
}

.also-like>h1 {
    background-color: #1e88e5;
    border: solid 1px #979797;
    color: #ffffff;
    font-size: 2.5em;
    padding: 5% 0;
}

.review-comment {
    margin: 1% 5%;
}

.also-like .fa-chevron-right {
    font-size: 2em;
    margin-top: 250%;
    margin-left: 20%;
}

.also-like .fa-chevron-left {
    font-size: 2em;
    margin-top: 250%;
    margin-left: 60%;
}

#mask {
    /* background-color: #000000; */
    z-index: 1000000000000000;
    top: 0;
    left: 0;
    position: absolute;
}

.mask-active {
    background-color: rgba(0, 0, 0, 0.72);
    border: solid 1px #979797;
    height: 100%;
    width: 100%;
}

.read-now-black {
    background-color: #000000 !important;
    color: #ffffff !important;
}

.saved-manga > h1 {
  background-color: #1e88e5;
   border: solid 1px #979797;
   color: #ffffff;
   font-size: 2.5em;
   padding: 1% 0;
 }
